.nav-link{
   /* background-color:yellow;*/
    text-decoration:none;
    color: black;
}
#main-doc
{
    /*background-color:green*/
}
.side{
    float:left;
    width:20%;
    padding-right:5%;
    padding-left:5%;
}
.main
{
    float:right;
    width:70%;
}
@media  only screen and (max-width:1000px){
    .aside{
        width:200px;
        display:initial;
        float:none;
        padding:0%;
    }
    .nav-link{
        width:100%;
        display:initial;
        padding-right:50%;


    }
    .main{
        /* float: none; */
        width: 100%;
        margin-left: 0%;
        padding: 0%;
        margin: 0%;
    }
}